version: 2.1
orbs:
    python: circleci/python@3.3.0
    sonarcloud: sonarsource/sonarcloud@3.0.1
commands:
    setup-artifacts:
        steps:
            - run: mkdir ./coverage && mkdir ./coverage/grpc && mkdir ./coverage/lint && mkdir ./coverage/reports && mkdir ./coverage/pretty && mkdir ./coverage/typing || exit 0
    run-tests:
        steps:
            - run: 
                command: pipenv run test_ci
                environment:
                    AWS_ACCESS_KEY_ID: 0
                    AWS_SECRET_ACCESS_KEY: 0
                    AWS_DEFAULT_REGION: us-east-2
                    S3_ENDPOINT: http://localhost:4566
            - run: 
                command: pipenv run coverage
                environment:
                    AWS_ACCESS_KEY_ID: 0
                    AWS_SECRET_ACCESS_KEY: 0
                    AWS_DEFAULT_REGION: us-east-2
                    S3_ENDPOINT: http://localhost:4566
            - store_artifacts:
                path: ./coverage
            - store_test_results:
                path: ./coverage/reports/junit.xml
    sync-packaging:
        steps:
            - run: pipenv run setup-sync
    pypi-setup:
        steps:
            - run: echo -e "[pypi]" >> ~/.pypirc
            - run: echo -e "username = __token__" >> ~/.pypirc
            - run: echo -e "password = $PYPI_TOKEN" >> ~/.pypirc
    pypi-publish:
        steps:
            - run: python3 -m pip install --user --upgrade setuptools wheel
            - run: python3 setup.py sdist bdist_wheel
            - run: python3 -m pip install --user --upgrade twine
            - run: python3 -m twine upload dist/*
    typing-check:
        steps:
            - run: pipenv run type-check
            - run: pipenv run typing-report
            - store_artifacts:
                path: ./coverage/typing
    lint-code:
        steps:
            - run: pipenv run lint
            - run: pipenv run pylint daplug_s3 --output-format=json > ./coverage/lint/pylint_report.json || exit 0
            - run: pipenv run pylint-json2html ./coverage/lint/pylint_report.json -o ./coverage/lint/pylint_report.html || exit 0
            - store_artifacts:
                path: ./coverage/lint
    python-build-dist:
        steps:
            - run: pipenv run python -m pip install --upgrade pip build
            - run: pipenv run python -m build
            - run: pipenv requirements --dev > dev-requirements.txt
    python-test-dist:
        steps:
            - run: python -m venv /tmp/package-smoke
            - run: /tmp/package-smoke/bin/pip install --upgrade pip
            - run: /tmp/package-smoke/bin/pip install -r dev-requirements.txt
            - run: /tmp/package-smoke/bin/pip install dist/*.whl
            - run: /tmp/package-smoke/bin/python -m pytest tests/unit
            - run:
                environment:
                    AWS_ACCESS_KEY_ID: test
                    AWS_SECRET_ACCESS_KEY: test
                    AWS_DEFAULT_REGION: us-east-1
                    S3_ENDPOINT: http://localhost:4566
                command: /tmp/package-smoke/bin/python -m pytest tests/integrations
jobs:
    lint:
        docker:
            - image: cimg/python:3.10.14
        steps:
            - attach_workspace:
                at: ~/project
            - setup-artifacts
            - lint-code
    type-check:
        docker:
            - image: cimg/python:3.10.14
        steps:
            - attach_workspace:
                at: ~/project
            - setup-artifacts
            - typing-check
    test:
        docker:
            - image: cimg/python:3.10.14
            - image: localstack/localstack:3.2
              environment:
                  SERVICES: s3
                  AWS_ACCESS_KEY_ID: 0
                  AWS_SECRET_ACCESS_KEY: 0
                  AWS_DEFAULT_REGION: us-east-2
        steps:
            - attach_workspace:
                at: ~/project
            - setup-artifacts
            - run-tests
            - sonarcloud/scan
    install-build:
        docker:
            - image: cimg/python:3.10.14
        steps:
            - checkout:
                  method: full
            - python/install-packages:
                pkg-manager: pipenv
                args: '--dev'
            - persist_to_workspace:
                root: ~/project
                paths:
                    - ./*
    install-build-publish:
        docker:
            - image: cimg/python:3.10.14
        steps:
            - checkout:
                  method: full
            - python/install-packages:
                pkg-manager: pipenv
                args: '--dev'
            - sync-packaging
            - pypi-setup
            - pypi-publish
    package-smoke-test:
        docker:
            - image: cimg/python:3.10.14
            - image: localstack/localstack:3.2
              environment:
                  SERVICES: s3
                  AWS_ACCESS_KEY_ID: test
                  AWS_SECRET_ACCESS_KEY: test
                  AWS_DEFAULT_REGION: us-east-1
        steps:
            - attach_workspace:
                at: ~/project
            - python-build-dist
            - python-test-dist
workflows:
    install-build-publish-workflow:
        jobs:
            - install-build-publish:
                context:
                    - pipenv
                filters:
                    tags:
                        only: /.*/
                    branches:
                        ignore: /.*/
    install-build-test-workflow:
        jobs:
            - install-build:
                context:
                    - pipenv
            - lint:
                requires:
                    - install-build
            - type-check:
                  requires:
                    - install-build
            - test:
                context:
                    - sonarcloud
                requires:
                    - install-build
            - package-smoke-test:
                requires:
                    - install-build
